.App {
  text-align: center;
  font-family: Arial, sans-serif;
height:100vh;
  background-color: #000c66;
  color:white;
padding-top:20px;
}

.weather-form form {
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 8px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.weather-card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
  width: 300px;
  background-color: #1F3541;
}

.weather-card h2 {
  margin: 0;
  font-size: 24px;
}

.weather-card p {
  margin: 5px 0;
}

.weather-card h3 {
  font-size: 36px;
  margin: 10px 0;
}
